Package: reveal2loader
Name: RevealLoader fixed for iOS13
Version: 1.3
Description: dynamically loads Reveal into applications and plugins.
Section: System
Depends: firmware (>= 8.0), mobilesubstrate, applist, preferenceloader, com.zidaneno5.ExtensionList
Conflicts: com.rheard.rhrevealloader, com.rheard.reveal-loader
Replaces: com.rheard.rhrevealloader, com.rheard.reveal-loader
Priority: optional
Architecture: iphoneos-arm
Author: eziochiu <eziochiuchina@hotmail.com>
dev: zidaneno5
Homepage: 
Depiction: 
Maintainer: eziochiu <eziochiuchina@hotmail.com>
Icon: 

